In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from api_key import g_key

In [23]:
vaca = pd.read_csv('/Users/kscomputer/Desktop/python_api_challenge/python-api-challenge/Output/weather.csv')
vaca

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speeds,Country,Date
0,0,yellowknife,62.46,-114.35,18.00,96,100,8.41,CA,1604066148
1,1,nome,64.50,-165.41,10.40,85,90,4.12,US,1604065921
2,2,port alfred,-33.59,26.89,63.46,53,96,9.62,ZA,1604066148
3,3,jamestown,42.10,-79.24,37.00,93,90,9.17,US,1604066148
4,4,hithadhoo,-0.60,73.08,83.08,76,0,11.68,MV,1604065869
...,...,...,...,...,...,...,...,...,...,...
539,539,grand gaube,-20.01,57.66,72.00,49,0,5.99,MU,1604066188
540,540,karatuzskoye,53.61,92.87,34.16,87,100,14.18,RU,1604066188
541,541,valley station,38.11,-85.87,45.00,70,90,9.17,US,1604066188
542,542,kingaroy,-26.53,151.83,69.80,73,0,9.17,AU,1604066188
543,543,mana,5.66,-53.78,87.26,66,47,14.05,GF,1604066183

In [24]:
vaca.dtypes

Unnamed: 0       int64
City            object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Cloudiness       int64
Wind Speeds    float64
Country         object
Date             int64
dtype: object

In [25]:
lat_lng = vaca[['Lat','Lng']]

humidity = vaca['Humidity'].astype(float)

In [31]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(lat_lng, weights = humidity,
                                dissipating=False, max_intensity=100, 
                                 point_radius =4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
#ran into issue in next cell getting lat and lng with na values why dropna included
ideal = vaca.loc[((vaca['Max Temp']<=80)&(vaca['Max Temp']>=70)&
                  (vaca['Wind Speeds']<=10)&
                  (vaca['Cloudiness'].astype(float)==0))].dropna(how='all')
ideal.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speeds,Country,Date
50,50,lata,40.16,-8.33,72.00,57,0,3.85,PT,1604066151
131,131,tezu,27.92,96.17,75.20,42,0,4.59,IN,1604066155
162,162,faanui,-16.48,-151.75,78.69,81,0,9.26,PF,1604065935
179,179,maryborough,-25.53,152.70,75.99,83,0,5.01,AU,1604066158
186,186,lakhimpur,27.95,80.77,76.10,34,0,5.39,IN,1604066159

In [40]:
#target_coordinates= ideal.loc[ideal['Lat'],['Lng']]
target_search = ideal['City']
target_radius = 5000
target_type = 'hotel'

parameter = {'location': target_coordinates,
            'keyword': target_search,
            'radius':target_radius,
            'type':target_type,
            'key':g_key}