In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

from api_key import g_key

In [23]:
vaca = pd.read_csv('/Users/kscomputer/Desktop/python_api_challenge/python-api-challenge/Output/weather.csv')
vaca

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speeds,Country,Date
0,0,yellowknife,62.46,-114.35,18.00,96,100,8.41,CA,1604066148
1,1,nome,64.50,-165.41,10.40,85,90,4.12,US,1604065921
2,2,port alfred,-33.59,26.89,63.46,53,96,9.62,ZA,1604066148
3,3,jamestown,42.10,-79.24,37.00,93,90,9.17,US,1604066148
4,4,hithadhoo,-0.60,73.08,83.08,76,0,11.68,MV,1604065869
...,...,...,...,...,...,...,...,...,...,...
539,539,grand gaube,-20.01,57.66,72.00,49,0,5.99,MU,1604066188
540,540,karatuzskoye,53.61,92.87,34.16,87,100,14.18,RU,1604066188
541,541,valley station,38.11,-85.87,45.00,70,90,9.17,US,1604066188
542,542,kingaroy,-26.53,151.83,69.80,73,0,9.17,AU,1604066188
543,543,mana,5.66,-53.78,87.26,66,47,14.05,GF,1604066183

In [25]:
lat_lng = vaca[['Lat','Lng']]

humidity = vaca['Humidity'].astype(float)

In [31]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(lat_lng, weights = humidity,
                                dissipating=False, max_intensity=100, 
                                 point_radius =4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
#ran into issue in next cell getting lat and lng with na values why dropna included
ideal = vaca.loc[((vaca['Max Temp']<=80)&(vaca['Max Temp']>=70)&
                  (vaca['Wind Speeds']<=10)&
                  (vaca['Cloudiness'].astype(float)==0))].dropna(how='all')
ideal.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speeds,Country,Date
50,50,lata,40.16,-8.33,72.00,57,0,3.85,PT,1604066151
131,131,tezu,27.92,96.17,75.20,42,0,4.59,IN,1604066155
162,162,faanui,-16.48,-151.75,78.69,81,0,9.26,PF,1604065935
179,179,maryborough,-25.53,152.70,75.99,83,0,5.01,AU,1604066158
186,186,lakhimpur,27.95,80.77,76.10,34,0,5.39,IN,1604066159

In [59]:
hotel = ideal.loc[:,['City','Country','Lat','Lng']]
hotel['Hotel Name']=''
hotel

               City Country    Lat     Lng Hotel Name
50             lata      PT  40.16   -8.33
131            tezu      IN  27.92   96.17
162          faanui      PF -16.48 -151.75
179     maryborough      AU -25.53  152.70
186       lakhimpur      IN  27.95   80.77
276  cap malheureux      MU -19.98   57.61
313        pasighat      IN  28.07   95.33
330     birmitrapur      IN  22.40   84.77
369          noumea      NC -22.28  166.46
426        damavand      IR  35.72   52.06
436           nalut      LY  30.33   10.85
454             sur      OM  22.57   59.53
509            umri      IN  26.51   78.94
539     grand gaube      MU -20.01   57.66

In [75]:
#invalid request....... 
lat = hotel['Lat']
lng = hotel['Lng']
cities = hotel['City']


target_coordinates= (lat, lng)
target_search = cities
target_radius = 5000
target_type = 'hotel'

parameter = {'location': target_coordinates,
            'keyword': target_search,
            'radius':target_radius,
            'type':target_type,
            'key':g_key}

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

response = requests.get(base_url, params=parameter).json()
response

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [ ]:
lat_lng = hotel[['Lat','Lng']]

humidity = hotel['Humidity'].astype(float)

In [ ]:
#heatmap layer off of humidity
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(lat_lng, weights = humidity,
                                dissipating=False, max_intensity=100, 
                                 point_radius =4)

fig.add_layer(heat_layer)

fig

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["Lat", "Lng"]]